body{
    text-align: center;
}

table {
    margin: 0.5rem auto;
    
}

td{
    border: 1px solid #100d0d;
    width: 2rem;
     height: 2rem;
    background-color: rgb(175, 168, 160);

}

.hide{
    display: 'none';
    background-color: #100d0d;
}